{% extends "myapp/base.html" %} {% block body %}
<h1>This is homepage</h1>
<form class="shadow-lg m-10 rounded-lg" method="post">
    {% csrf_token %} 
    <div class="form-container px-10 py-10 flex justify-between">
        <div>
            <div class="mb-5">
                <label >Expanse Name</label>
            </div>
            <div class="border ">{{ expense_form.name }}</div>    
        </div>
        <div>
            <div class="mb-5">
                <label >Amount</label>
            </div>
            <div class="border ">{{ expense_form.amount }}</div>    
        </div>
        <div>
            <div class="mb-5">
                <label >category</label>
            </div>
            <div class="border ">{{ expense_form.category }}</div>    
        </div>
        <div class="mt-8">
            <button class="bg-green-500 px-5 py-2 rounded-lg text-white font-bold ">Add</button>
        </div>
    </div>
    
</form>

<div>
    Expanses
</div>
<div class="shadow-lg m-10 rounded-lg">
    <div class="expense-header flex flex-wrap space-x-40">
        <span>Name</span>
        <span>Amount</span>
        <span>category</span>
        <span>Date</span>
        <span>Edit</span>
        <span>Delete</span>
    </div>
    <hr class="m-5">
    {% for expense in expenses %}
    <div class="expense-row flex flex-wrap px-15 py-5">
        <span class="font-bold">{{ expense.name }}</span>
        <span class="font-bold">{{ expense.amount }}</span>
        <span class="font-bold">{{ expense.category }}</span>
        <span class="font-bold">{{ expense.date }}</span>
        <span class="font-bold"><a href="{% url 'edit' expense.id %}">Edit</a></span>
        <span class="font-bold"><a href="">Delete</a></span>
    </div>
    {% endfor %}
</div>


{% endblock %}
