{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
   
    <nav class="shadow-lg">
        <div class="px-4 mx-auto">
            <div class="flex justify-between">
                <!-- website logo -->
                <div>
                    <a class="flex" href="">
                        <img class="h-8 w-8 mr-2" src="{% static 'users/images/icon.png' %}"  alt="">
                        <span class="font-semibold text-lg text-gray-500 ">Photo App</span>
                    </a>
                </div>
                <!-- website items-->
                 <div class="space-x-1">
                    {% if request.user.is_authenticated %}
                    <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'login' %}">Login</a>
                    {% endif %}
                    <a class="py-4 px-2 text-gray-500 font-semibold" href="">Link 1</a>
                 </div>
            </div>
        </div>
    </nav>
    

    {% block body %}
    {% endblock %}
</body>
</html>